* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 100vh;
  background: url(images/table.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

main.table {
  width: 82vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.507);

  backdrop-filter: blur(10px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}
main.Subtable {
  width: 15vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(10px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 15%;
  background-color: #fff4;
  /* padding: 0.8rem 1rem; */
  padding: 2rem 2.5rem;

  display: flex;
  /* border : 1px solid red; */
}
.table__SSubheader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border : 2px solid rgb(25, 0, 247); */
}

.table__Subheader {
  font-family: "Kanit", sans-serif;
  width: 55%;
  height: 70%;
  justify-content: center;

  /* border : 2px solid red; */
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

.status {
  padding: 0.4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.Submitted {
  background-color: #86e49d;
  color: #006b21;
}

.status.Overdue {
  background-color: #d893a3;
  color: #b30021;
}

.status.Assigned {
  background-color: #6fcaea;
  color: #1e5fd6;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th.active,
tbody td.active {
  color: #3c87ff;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(images/logout.png) center / 80% no-repeat;
  border-radius: 20%;
  transition: 0.2s ease-in-out;
}

.export__file .export__file-btn:hover {
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;

  width: 12rem;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;

  box-shadow: 0 0.2rem 0.5rem #0004;

  transition: 0.2s;
}

/* ------------------------------------------- */

::selection {
  color: #fff;
  background: #3c87ff;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 28px 0 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}
.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid #3c87ff;
}
.task-input input::placeholder {
  color: #bfbfbf;
  font-size: 16px;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child {
  margin-left: 0;
}
.filters span.active {
  color: #3c87ff;
}
.controls .clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
}
.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active {
  transform: scale(0.93);
}
.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow {
  overflow-y: auto;
  max-height: 75%;
}
.task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label {
  display: flex;
  align-items: flex-start;
}
.task label input {
  margin-top: 7px;
  accent-color: #3c87ff;
}
.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  main.table {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  .table__header {
    flex-direction: column;
    height: auto;
  }

  .table__Subheader {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .table__SSubheader {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .export__file {
    display: none;
  }

  main.Subtable {
    display: none;
  }
}

/* ------------ */

#logout-button {
  /* background-color: rgb(255, 158, 158); */
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#logout-button:hover {
  background-color: #ff2f2f;
  color: white;
}

/* drop down list */
label {
  display: block;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 200px;
  max-width: 100%;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #f9f9f9, #fff 25%);
}

select:focus {
  outline: none;
  border-color: #6db6ff;
  box-shadow: 0 0 5px rgba(109, 182, 255, 0.5);
}
